body, html {
  margin: 0;
  padding: 0;
  background-color: #0a0e17; /* Darkest Navy */
}

.app-container {
  position: relative;
  min-height: 100vh;
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.foreground-wrapper {
  position: relative;
  z-index: 1;
}

.nav-spacer {
  height: 100px;
}