/* Tailwind */
@import "tailwindcss";

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLES */
:root {
  background-color: #030014;
  color: white;
}

/* BODY */
body {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* FORM ELEMENTS */
button,
input {
  font-family: inherit;
  outline: none;
  border: none;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}